In [1]:
import gls_preprocess_standard_update_v1 as pp
import pandas as pd
import datetime as dt
import time
import datetime

Result:           date date_modify_1 date_modify_2
0   05-07-201    wrong_date
1   01-10-209    wrong_date
2   01-08-200    wrong_date
3   10-1-2011    wrong_date

In [3]:
df = pd.read_csv("data/test/jobTitle_employment.csv")

In [4]:
x = pp.gls_preprocess(df.c_employment_job_start, None,None,None,None,None,None)
result = x.gls_date()

In [5]:
result

                  date date_modify_1 date_modify_2
0                 2011    01-01-2011          2011
1                 2008    01-01-2008          2008
2                 2006    01-01-2006          2006
3                 2002    01-01-2002          2002
4                 2011    01-01-2011          2011
5                 2008    01-01-2008          2008
6                 2006    01-01-2006          2006
7                 2002    01-01-2002          2002
8          August 2012    01-08-2012
9        December 2010    01-12-2010
10          March 2004    01-03-2004
11        January 2008    01-01-2008
12       February 2004    01-02-2004
13       November 2000    01-11-2000
14             2007-11    01-11-2007       11-2007
15                2005    01-01-2005          2005
16                 NaN    wrong_date
17             2004-07    01-07-2004       07-2004
18             2002-07    01-07-2002       07-2002
19             2005-03    01-03-2005       03-2005
20      September 2011    01-09-2011
21           June 2010    01-06-2010
22          April 2007    01-04-2007
23                2007    01-01-2007          2007
24             2002-09    01-09-2002       09-2002
25                2007    01-01-2007          2007
26             2002-09    01-09-2002       09-2002
27         August 2011    01-08-2011
28           July 2008    01-07-2008
29      September 2011    01-09-2011
...                ...           ...           ...
199970         2000-03    01-03-2000       03-2000
199971         2012-07    01-07-2012       07-2012
199972         2010-03    01-03-2010       03-2010
199973         2009-09    01-09-2009       09-2009
199974         2006-01    01-01-2006       01-2006
199975         2005-02    01-02-2005       02-2005
199976         2003-09    01-09-2003       09-2003
199977   February 2002    01-02-2002
199978         2012-07    01-07-2012       07-2012
199979         2010-03    01-03-2010       03-2010
199980         2009-09    01-09-2009       09-2009
199981         2006-01    01-01-2006       01-2006
199982         2005-02    01-02-2005       02-2005
199983         2003-09    01-09-2003       09-2003
199984   February 2002    01-02-2002
199985       July 2012    01-07-2012
199986   February 2010    01-02-2010
199987         2012-01    01-01-2012       01-2012
199988         2009-03    01-03-2009       03-2009
199989         2007-04    01-04-2007       04-2007
199990         2006-06    01-06-2006       06-2006
199991         2007-08    01-08-2007       08-2007
199992         2004-08    01-08-2004       08-2004
199993         2001-10    01-10-2001       10-2001
199994         1997-10    01-10-1997       10-1997
199995         1996-03    01-03-1996       03-1996
199996         1994-03    01-03-1994       03-1994
199997        Sep 2010    01-09-2010
199998        Apr 2007    01-04-2007
199999        Sep 1997    01-09-1997

[200000 rows x 3 columns]

In [9]:
x = pp.gls_preprocess(df.c_employment_job_end, None,None,None,None,None,None)
result_2 = x.gls_date()

In [10]:
frames = [result, result_2]
final_result = pd.concat(frames)

In [11]:
final_result.to_csv('clean_date_result.csv')

In [12]:
len(final_result)

400000

In [13]:
len(final_result[final_result.date_modify_1 == 'wrong_date'])

4998

In [ ]:
pd.set_option('display.max_rows', len(df))
print(final_result[final_result.date_modify_1 == 'wrong_date'])