In [35]:
import gls_preprocess_standard_update_v1 as pp
import pandas as pd
import datetime as dt
import time
import datetime

In [37]:
df = pd.read_csv("final.csv")

In [38]:
x = pp.gls_preprocess(df.c_employment_job_start, None,None,None,None,None,None)
result = x.gls_date()
result[result.date_modify_1 == 'wrong_date']

,date,date_modify_1,date_modify_2
118,Product Marketing for Android platform and Ne...,wrong_date,
309,developed and delivered computer and sales/se...,wrong_date,
643,troubleshoot application and system performance,wrong_date,
1604,NaN,wrong_date,

In [39]:
x = pp.gls_preprocess(df.c_employment_job_end, None,None,None,None,None,None)
result = x.gls_date()
result[result.date_modify_1 == 'wrong_date']

,date,date_modify_1,date_modify_2
309,managed process for employees seeking externa...,wrong_date,
643,trained academic personal on web services.,wrong_date,
1604,NaN,wrong_date,

In [41]:
print(len(result))

1613